.container {
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  padding: 20px;
  height: 100%;
}

.container section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 17px;
  min-height: 100vh;
}

.pages-top,
.pages-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.pages-top {
  margin-bottom: 20px;
}

.pages-bottom {
  margin-top: 20px;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  background: transparent;
  border: none;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
  color: orangered;
}

button:disabled:hover {
  cursor: auto;
  color: #1010104d;
}
